* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.firstsec {
  height: 800px;
  width: 100%;
  background-color: black;
}
.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(148, 144, 144);
}
.navlist {
  display: flex;
  list-style: none;
}
ul > li {
  margin-left: 80px;
}
.fa-bars {
  font-size: 30px;
}
.transform {
  font-size: 180px;
  color: white;
  padding-left: 5%;
  background: linear-gradient(to right, white 10%, gray 90%);
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Montserrat", sans-serif;
}
.img1 {
  filter: grayscale(100%);
  position: absolute;
  top: 35%;
  left: 47%;
}
.your {
  font-size: 180px;
  color: white;
  position: relative;
  bottom: 8%;
  padding-left: 5%;
  background: linear-gradient(to right, white 10%, gray 90%);
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Montserrat", sans-serif;
}
.moon {
  height: 130px;
  width: 130px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 16%;
  top: 25%;
  background: radial-gradient(circle, #ffcc00, #e69500);
  box-shadow: 1px 1px 40px white;
}
.the {
  color: transparent;
  background: linear-gradient(to top, gray, white);
  -webkit-background-clip: text;
  position: absolute;
  right: 10%;
  top: 55%;
}
.display1 {
  margin-left: 5%;
  height: 100px;
  width: 50%;
  /* background-color: rgb(255, 0, 0); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.interior {
  color: transparent;
  background: linear-gradient(to bottom, gray, white);
  -webkit-background-clip: text;
}
.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background: linear-gradient(to left, rgb(179, 177, 177), white);
  color: rgb(63, 61, 61);
  border-radius: 30px;
  box-shadow: 1px 1px 5px white;
  font-weight: bold;
  z-index: 1;
}
.btn1:hover {
  cursor: pointer;
  background: linear-gradient(to left, rgb(129, 128, 128), rgb(235, 230, 230));
}
.fa-right-long {
  color: black;
  font-size: 20px;
  position: relative;
  left: 4px;
  top: 4px;
}
.btn2 {
  height: 40px;
  width: 150px;
  border: none;
  background: linear-gradient(to right, rgb(0, 0, 0) 70%, white);
  color: white;
  border-radius: 30px;
  box-shadow: 1px 1px 2px white;
  font-weight: bold;
  z-index: 1;
}
.btn2:hover {
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgb(14, 14, 14) 70%,
    rgb(209, 203, 203)
  );
}
.fa-arrow-right {
  color: white;
  font-size: 20px;
  position: relative;
  left: 4px;
  top: 4px;
}
.display2 {
  margin-left: 10%;
  height: 125px;
  width: 40%;
  /* background-color: rgb(255, 0, 0); */
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  z-index: 1;
}
.img2 {
  height: 120px;
  width: 18%;
  background-color: #e69500;
  z-index: 1;
  filter: grayscale(100%);
}
